// Fontes
$montSerrat: var(--montSerrat);
$openSans: var(--openSans);
$poppins: var(--poppins);

// Cores
$black: var(--black);
$amareloEscuro: var(--amareloEscuro);
$amareloClaro: var(--amareloClaro);
$corLogo: var(--corLogo);
$light: var(--light);
$grayLight: var(--grayLight);
$grayMedium: var(--grayMedium);
$grayMediumDark: var(--grayMediumDark);
$grayDark: var(--grayDark);
$grayDarken: var(--grayDarken);
$greenBadge: var(--greenBadge);
$pinkBadge: var(--pinkBadge);