// Fontes
$montSerrat: var(--montSerrat);
$openSans: var(--openSans);
$poppins: var(--poppins);

// Cores
$black: var(--black);
$amareloEscuro: var(--amareloEscuro);
$amareloClaro: var(--amareloClaro);
$corLogo: var(--corLogo);
$light: var(--light);
$grayMedium: var(--grayMedium);